eventos_waze2.json
Sistemas_Distribuidos.zip
/Filtro/data/output/analisis
/Filtro/data/output/filtrados
/Filtro/data/input/eventos.csv
/Filtro/data/output/por_ciudad
/Filtro/data/output/por_tipo
/Filtro/data/output/por_fecha